extends ../node_modules/pug-bootstrap/_bootstrap.pug
block body

  +navbar("Bluestone","dropdown_menu")
    +nav_item("/spy","active")="Operation Editor"
    +nav_item("index.html") About
    +nav_item("index.html") Contact