extends ./component/navigationHeader.pug
block content
    link(rel='stylesheet' href='/stylesheets/style.css')    
    +a-btn-warning('?'+btnPrevHtmlQueryKey)='Previous Html'
    +a-btn-info('?'+btnNextHtmlQueryKey)='Next Html'
    div(class='wrapper')
        iframe(id='sidebar' src='/locator-definer-sidebar' scrolling='yes')
        iframe(id='viewer' src=locatorHtml)





