extends ./component/navigationHeader.pug
block content
    link(rel='stylesheet',href='/stylesheets/style.css')
    
    div(class='wrapper')            
        
        iframe(id='sidebar',src='/locator-definer-sidebar')
        iframe(id='viewer',src='/temp/componentPic/1632792450183.html')
        
        
    
        

        