extends ../node_modules/pug-bootstrap/_bootstrap.pug
include ./component/workflowTable.pug
include ./component/input.pug
include ./component/possibleLocatorTable.pug
block body
    script(src="/javascript/redirectInput.js")
    link(rel='stylesheet',href='/stylesheets/style.css')
    
    +nav-pills-justified([{text:"Default",href:"?default"},{text:"Back",href:"?next=-1"},{text:"Next",href:"?next=1"}],0)
    
    div(class='row')
        div(class='col-xs-9')                
            +input-arguments('locator-text',[{description:'Locator',pugType:"input",value:''}],'index')
        
        +a-btn-primary('?btnValidate')='Validate'
    h4="Possible Locators"
    +possible-locator-table([{path:"locator/Item/Name",pic:"1632792450295.png"}],possibleLocatorOkKey)
