extends ../node_modules/pug-bootstrap/_bootstrap.pug
include ./component/input.pug
include ./component/refresh.pug
block body	 
	h1='Blue stone Agent'
	h2='current selector:'+currentSelector
	h2='Picture'

	
	+img-responsive("temp/componentPic/"+currentSelectorPic,"Responsive Image")


	+dropdown(currentGroup,groups)

	+dropdown(currentOperation,operations)='' 

	+input-arguments(argumentsQueryKey,argumentList,argumentsQueryIndex)='' 
	+panel-info("Result")
		p=result 

	if btnAddStepValidation!=null && btnAddStepValidation!=''
		+alert-danger(btnAddStepValidation)
	
	
	+a-btn-primary('?'+runQueryKey)='Run Step'
	+a-btn-success('?'+addStepQueryKey)='Add Step'
	+a-btn-danger('?'+cancelQueryKey)='Cancel'
	+refresh()
	script(src="/javascript/redirectInput.js")
