extends ../node_modules/pug-bootstrap/_bootstrap.pug
include ./component/input.pug
block body	 
	h1='Blue stone Agent'
	h2='current selector:'+currentSelector
	h2='Picture'


	+img-responsive("temp/componentPic/"+currentSelectorPic,"Responsive Image")


	+dropdown(currentGroup,groups)

	+dropdown(currentOperation,operations)='' 

	+input-arguments(argumentsQueryKey,argumentList,argumentsQueryIndex)='' 
	if btnAddStepValidation!=null && btnAddStepValidation!=''
		+alert-danger(btnAddStepValidation)

	+a-btn-primary('?'+addStepQueryKey)='Add Step'
	+a-btn-danger('?'+cancelQueryKey)='Cancel'

	script(src="/javascript/redirectInput.js")