extends ../../node_modules/pug-bootstrap/_bootstrap.pug
block body
    div(id='topNav')
        +navbar("Bluestone","dropdown_menu")
            +nav_item("/spy")="Operation"
            +nav_item("/workflow")="Workflow"
            +nav_item("/locator-definer")="Locator"
        block content