.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.img-thumbnail {
  width: 100%;
}
.locator-pic {
  height: 100px;
}
#topNav {
  top: 0;
  width: 20vw;
}

#sidebar {
  width: 20vw;
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: 999;

  transition: all 0.3s;
}

#viewer {
  top: 0;
  width: 100vw;
  position: fixed;
  left: 20vw;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
